{% block footer %}
 <!-- FOOTER -->
 <footer class="container">
    <p class="float-end"><a href="#">Haut de page</a></p>
    <p>Copyrigth@mistepat972 . <a href="#">Privé</a> . <a href="#">Terms</a></p>
  </footer>
{% endblock %}